/**
 * Installation specific application configuration
 */
const path = require('path');

module.exports = {
    // Server instance name (alphanumeric)
    instance: 'server1',

    // Official URL
    official_url: 'http://localhost:3000',

    // Environment
    env: process.env.NODE_ENV || (!!process.env.DEBUG ? 'development' : 'production'),

    // Loaded modules
    modules: [
        '!arpen-telegram/src',
        'bot',
    ],

    // Servers
    servers: {
        bot: {
            class: 'servers.telegram',
            token: 'token_here',
            pin_code: '0000',
            my_numbers: [],
            records_path: '/var/spool/asterisk/monitor',
            session_file: path.join(__dirname, '..', 'sessions', 'aesthetics.db'),
            middleware: [
                'telegram.localSession',
                'telegram.init',
                'telegram.commander',
                'telegram.flow',
                'telegram.start',
            ],
        },
    },

    // MySQL servers
    mysql: {
        cdr: {
            host: 'localhost',
            port: 3306,
            user: 'user',
            password: 'password',
            database: 'dbname',
            connectionLimit: 100,
        },
    },

    // SMTP servers
    smtp: {
        main: {
            host: 'localhost',
            port: 25,
            ssl: false,
            //user: 'username',
            //password: 'password',
        },
    },

    email: {
        from: 'root@localhost',
        log: {
            enable: false,                  // email logger messages or not
            level: 'error',
            to: 'debug@example.com',
        },
        crash: {
            enable: false,                  // email program crash or not
            to: 'debug@example.com',
        },
    },

    logs: {
        main: {
            level: 'info',
            default: true,
            name: 'error.log',
            path: path.join(__dirname, '..', 'logs'),
            interval: '1d',
            mode: 0o640,
            max_files: 3,
            history: path.join(__dirname, '..', 'logs', 'error.log.history'),
        },
    },

/*
    user: { // Drop privileges, otherwise comment out this section
        uid: 'www',
        gid: 'www',
    },
*/
};